{% extends "base.html.twig" %}

{% block title %}What's the Weather?{% endblock title %}
{% block main %}
    <h2>What's the Weather?</h2>
    <p>To get the weather for your location, enter an address into the input field below.</p>

    <div class="border p-3 mt-5">
        <h3>Enter your Location</h3>
        <form method="post" action="{{ url_for("/") }}">
            <div class="mb-5">
                <label for="locationInput" class="form-label">Your Location</label>
                <input type="text" class="form-control" id="locationInput" name="location"
                       placeholder="e.g., Softwarepark 11, Hagenberg" aria-describedby="locationHelp" autocomplete="address-line1" required>
                <div id="locationHelp" class="form-text">Please enter a location you wish to receive weather a forecast for.</div>
            </div>

            <button type="submit" class="btn btn-primary">Send</button>
        </form>
    </div>
    {% if weather is defined %}
    <div class="border p-3 mt-5">
        <h3>Weather Forecast</h3>
        <p>This is the forecast for {{ weather.location }}.</p>
        <p><img src="{{ weather.image }}" alt="Weather forecast for {{ weather.location }}."></p>
    </div>
    {% endif %}
    {% if noresult is defined %}
    <div class="border p-3 mt-5">
        <h3>Weather Forecast</h3>
        <p>No valid location could be resolved for {{ noresult.location }}.</p>
        <p>No weather forecast can be shown.</p>
    </div>
    {% endif %}
{% endblock main %}