{% extends "base.html.twig" %}

{% block title %}Login Example: Generate Password{% endblock %}
{% block main %}
    <h2>GET /passwordhash</h2>
    <p>This page demonstrates various password hashing algorithms and their results.</p>

    <form method="post" action="{{ url_for("/passwordhash") }}">
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="text" class="form-control" id="password" name="password" value="{{ password }}"
                   aria-describedby="passwordHelp" required>
            <div id="passwordHelp" class="form-text">Please enter a password you wish to hash.</div>
        </div>
        <div class="mb-3">
            <label for="algo" class="form-label">Hashing Algorithm</label>
            <select class="form-select mb-3" name="algo" id="algo" aria-describedby="algoHelp">
                <option value="{{ default }}">PASSWORD_DEFAULT</option>
                <option value="{{ bcrypt }}">PASSWORD_BCRYPT</option>
                <option value="{{ argon2i }}">PASSWORD_ARGON2I</option>
                <option value="{{ argon2id }}">PASSWORD_ARGON2ID</option>
            </select>
            <div id="algoHelp" class="form-text">Please select a hashing algorithm.</div>
        </div>
        <button type="submit" class="btn btn-primary">Create Hash</button>
    </form>

    {% if hash is not empty %}
        <div class="mt-3">
            <h3>Password</h3>
            <p>{{ password }}</p>

            <h3>Hash</h3>
            <p>{{ hash }}</p>
        </div>
    {% endif %}
{% endblock main %}